# IDE
.vs/
.vscode/
.idea/

# Backend
WebApp/bin/
WebApp/obj/
WebApp/Secrets/
*.user

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/coverage/

# Docker volumes
postgresql_data/
pgadmin4_data/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db